{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>My Post</title>
        <link href="{% static 'myPost.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="post-container">
            <div class="post-header">
              <img
                src="https://images.unsplash.com/photo-1719937050814-72892488f741?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="User profile picture"
                class="profile-pic"
              />
              <span class="username">rhea_sidana</span>
            </div>
            
            <img
              src="{{post.post_img.url}}"
              alt="Mountain Lake"
              class="post-img"
            />
            
            <p class="post-description">
              {{post.post_description}}
            </p>
            <hr />
            <div class="post-actions">
                <div>
                    {{post.likes}} <button>Like</button>
                </div>
                <div>
                    {{post.comments}} <button>Comment</button>
                </div>
                <div>
                    {{post.shares}} <button>Share</button>
                </div>
                <div>
                    {{post.save}} <button>Save</button>
                </div>
            </div>
        </div>
    </body>
</html>